#image { max-width: 300px;  
    height: auto; margin: 10px; 
} 

#title {
    text-align: center;
    color: rgb(160, 158, 158); 
    background-color: rgb(108, 0, 0); 
    border: 2px solid black; 
    padding: 10px;
    font-family: 'Arial', sans-serif; 
    text-shadow: 2px 2px 0px black, -2px 2px 0px black, 2px -2px 0px black, -2px -2px 0px black;
}

#img-caption {
    color: rgb(167, 165, 165); 
    background-color: rgb(109, 0, 0); 
    border: 1px solid black; 
    text-align: center;
    padding: 5px;
    font-family: 'Arial', sans-serif; 
    text-shadow: 2px 2px 0px black, -2px 2px 0px black, 2px -2px 0px black, -2px -2px 0px black;
}


#img-div { background-color: black; 
    text-align: center; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
} 

.img-wrapper { 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
} 

.small-image { 
    width: 200px;  
    height: auto; 
    margin: 10px; 
    display: inline-block; 
}

#tribute-info {
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    background-color: rgb(90, 90, 90);
    color: white;
    border-radius: 8px;
    max-width: 800px;
}
#summary, #summary_2 {
    font-size: 14;
}


#translate {
    text-align: center;
    font-size: 8px;
}

#title:hover, #img-caption:hover {
    background-color: rgb(101, 100, 100);
    color: rgb(88, 0, 0);
    cursor: pointer;
}




body {
    background-color: rgb(80, 78, 78);
}

h3 {
    font-size: 12px;
    text-align: center;
}